<nav class="main-navbar">
  <div class="navbar-logo">
    <span class="logo-text">Arm Store App</span>
  </div>

  <div class="navbar-actions">

    <div class="mobile-menu-toggle">
      <custom-button
        icon="menu"
        text=""
        stylingMode="text"
        (onClick)="toggleMobileMenu()">
      </custom-button>
    </div>

    <div class="desktop-menu">
      <div class="desktop-nav-container">
        @if(sortedMenuItems$ | async; as items) {
          <div class="desktop-links">
          @for (item of items; track item.pageURL) {
            <a 
              [routerLink]="'/' + item.pageURL" 
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              class="desktop-menu-item">
              {{ item.navbarName }} 
            </a>
          }
        </div>
        }
        

        <div class="desktop-logout">
          <custom-button
            text="ออกจากระบบ"
            type="danger"
            stylingMode="contained"
            [width]="110"
            (onClick)="onLogout()">
          </custom-button>
        </div>

      </div>
    </div>
  </div>
</nav>

@if (isMobileMenuOpen) {
  <div class="mobile-menu-panel">
    @if(sortedMenuItems$ | async; as items) {
      <div class="menu-links">
        @for(item of items; track item.pageURL) {
          <button 
            class="mobile-menu-item"
            [routerLink]="'/' + item.pageURL"
         (click)="toggleMobileMenu()">
        {{ item.navbarName }}
       </button>
      }
    </div>
  }

    <div class="mobile-logout-wrapper">
      <custom-button
        text="ออกจากระบบ"
        type="danger"
        stylingMode="contained"
        width="100%"
        (onClick)="onLogout()">
      </custom-button>
    </div>
  </div>
}