<nav class="main-navbar">
  <div class="navbar-logo">
    <span class="logo-text">Connex</span>
  </div>

  <div class="navbar-actions">

    <div class="mobile-menu-toggle">
      <app-custom-button
        icon="menu"
        text=""
        stylingMode="text"
        (onClick)="toggleMobileMenu()">
      </app-custom-button>
    </div>

    <div class="desktop-menu">
      <div class="desktop-nav-container">
        
        <div class="desktop-links">
          @for (item of sortedMenuItems; track item.pageUrl) {
            <a 
              [routerLink]="item.pageUrl"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              class="desktop-menu-item">
              {{ item.pageName }}
            </a>
          }
        </div>

        <div class="desktop-logout">
          <app-custom-button
            text="ออกจากระบบ"
            type="danger"
            stylingMode="outlined"
            [width]="110"
            (onClick)="onLogout()">
          </app-custom-button>
        </div>

      </div>
    </div>
  </div>
</nav>

@if (isMobileMenuOpen) {
  <div class="mobile-menu-panel">
    <div class="menu-links">
      @for(item of sortedMenuItems; track item.pageUrl) {
       <button class="mobile-menu-item">
        {{ item.pageName }}
       </button>
      }
    </div>

    <div class="mobile-logout-wrapper">
      <app-custom-button
        text="ออกจากระบบ"
        type="danger"
        stylingMode="outlined"
        (onClick)="onLogout()">
        width="100%">
      </app-custom-button>
    </div>
  </div>
}