<div id="app-container">

<dx-data-grid
  [dataSource]="employees"
  keyExpr="EmployeeID"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  (onSelectionChanged)="selectEmployee($event)">
  <dxo-selection mode="single"></dxo-selection>

  <dxi-column dataField="FullName">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="Position">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="BirthDate" dataType="date"></dxi-column>
  <dxi-column dataField="HireDate"  dataType="date"></dxi-column>
  <dxi-column dataField="City"  [groupIndex]="1"></dxi-column>
  <dxi-column dataField="Country"  [groupIndex]="0"></dxi-column>
  <dxi-column dataField="Address"></dxi-column>
  <dxi-column dataField="HomePhone"></dxi-column>
  <dxi-column dataField="PostalCode"></dxi-column>
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true">
  </dxo-editing>

</dx-data-grid>
<p id="selected-employee" *ngIf="selectedEmployee">
    Selected employee: {{ selectedEmployee.FullName }}
</p>
</div>
