// <div class="max-w-md mx-auto mt-20 p-8 
// bg-white rounded-xl shadow-lg">
// <h2 class="text-2xl font-bold mb-6 
// text-center">Arm Store App</h2>
.login-container {
  padding: 20px;
}

.login-card{
    width: 100%;

    max-width: 400px; //max-w-md
    margin-left: auto; // mx-auto
    margin-right: auto; // mx-auto
    margin-top: 80px; // mt-20
    padding: 32px; // p-8
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-title{
    font-size: 24px; // text-2xl
    font-weight: bold; // font-bold
    margin-bottom: 24px; // mb-6
    text-align: center; // text-center
}