<div class="login-container">
  <div class="login-card">
    <h2 class="login-title">Arm Store App</h2>

      
      <app-custom-input
        type="Text"
        label="Username"
        attributeName="Username"
        placeholder="Enter Username"
        [isRequired]="true"
        [componentState]="loginState"
        [fieldValue]="formData.username"
        (fieldValueChange)="onFieldValueChange('username', $event)"
        class="mb-4 block">
      </app-custom-input>

      <app-custom-input
        type="Password"
        label="Password"
        attributeName="Password"
        placeholder="Enter Password"
        [isRequired]="true"
        [componentState]="loginState"
        [fieldValue]="formData.password"
        (fieldValueChange)="onFieldValueChange('password', $event)"
        class="mb-6 block">
      </app-custom-input>

      <div class="flex flex-col gap-3 mt-6">
        <custom-button
          text="เข้าสู่ระบบ" 
          type="default" 
          width="100%"
          (onClick)="onLoginClick()">
        </custom-button>
        <custom-button
          text="สมัครสมาชิก" 
          type="normal" 
          width="100%"
          (onClick)="onRegisterClick()">
        </custom-button>
      </div>

  </div>
</div>
